---
layout: layout.njk
title: VexaScript vs TypeScript – Syntax Differences
permalink: /syntax.html
---
<section class="section">
  <p>
    This document shows the diff related to TypeScript that should be enough for most people and AI agents.
    There is another section with the 
    <a href="/syntax/full">full syntax</a> including TypeScript.
  </p>

  {{ differencesDocumentHtml | safe }}
</section>
