---
layout: layout.njk
title: VexaScript Syntax Reference
permalink: /syntax/full.html
---
<section class="doc-shell">
  <article class="doc-content">
    {{ syntaxDocumentHtml | safe }}
  </article>
</section>
