---
layout: layout.njk
title: VexaScript Syntax Reference
---
<section class="section">
  <p>
    This document shows the whole syntax of the language.
    There is another section
    <a href="/syntax/differences">with only the differences on top of TypeScript</a>.
  </p>

  {{ syntaxDocumentHtml | safe }}
</section>
